<div class="background">
  <div class="login">
    <div class="login-logo">
      <img src="../../../../assets/images/login-logo.png" alt="" width="150px">
    </div>
    <div class="login-form">
      <div class="login-title">
        <h1>Đăng ký</h1>
      </div>
      <input type="text" placeholder="Họ" style="outline: none;">
      <input type="text" placeholder="Tên" style="outline: none;">
      <input type="text" placeholder="Email đăng nhập" style="outline: none;">
      <input type="password" placeholder="Mật khẩu" style="outline: none;">
      <input type="number" placeholder="Số điện thoại" style="outline: none;">

      <div class="login-button">
        <button>Đăng ký</button>
      </div>
      <div class="register">
        <a routerLink="/login" >Đăng nhập</a> <p> nếu đã có tài khoản</p>
      </div>
    </div>
  </div>
</div>