<form [formGroup]="registerForm">
  <div class="background">
    <div class="login">
      <div class="login-logo">
        <img src="../../../../assets/images/login-logo.png" alt="" width="150px">
      </div>
      <div class="login-form">
        <div class="login-title">
          <h1>Đăng ký</h1>
        </div>
        <input type="text" placeholder="Họ và tên" formControlName="name" style="outline: none;">
        <input type="text" placeholder="User name" formControlName="userName" style="outline: none;">
        <input type="password" placeholder="Mật khẩu" formControlName="pwd" style="outline: none;">
        <input type="number" placeholder="Số điện thoại" formControlName="phone" style="outline: none;">

        <div class="login-button">
          <button class="btn btn-primary w-50" [disabled]="registerForm.invalid" (click)="register()">Đăng ký
            <i class="fa fa-spinner fa-spin m-r-5" *ngIf="isLoading"></i>
          </button>
        </div>
        <div class="register">
          <a routerLink="/login">Đăng nhập</a>
          <p> nếu đã có tài khoản</p>
        </div>
      </div>
    </div>
  </div>
</form>