<div class=" header-container">
    <div class="main">
        <img src="../../../../assets/images/login-logo.png" width="200px" alt="">
        <ul class="nav-menu">
            <li [ngClass]="routeSnapshot.includes('home') ? 'li-active' : ''">Trang chủ</li>
            <li [ngClass]="routeSnapshot.includes('course') ? 'li-active' : ''" routerLink="/pages/course">Khoá học</li>
            <li>MentorX</li>
            <li>Bạn bè</li>
            <li (click)="callConfig(config)">Nút gọi điện thoại</li>
            <li (click)="test()">Nút close đóng pop up</li>
        </ul>
    </div>
    <app-user></app-user>
</div>