<div class="course__info">
    <div class="info__header">
        <h1>{{course?.name}}</h1>
        <p>
            {{course?.content}}
        </p>
        <p>Video hướng dẫn làm bài tập JS : <a href="">Tại đây</a></p>
        <p>Đăng ký vào slack : <a href="">Tại đây</a></p>
        <p>Like <a href="">CodersX Page</a> để câp nhật thông tin</p>
        <div class="author">
            <img src="https://res.cloudinary.com/djeghcumw/image/upload/v1588419958/la240lamtsudngbddril.jpg" alt=""
                width="40px" height="40px" />
            <p>Thinh Pham</p>
        </div>
    </div>
    <div class="course">
        <h4>Bài học</h4>
        <div class="course__list" *ngFor="let lesson of lessonList">
            <div class="course__content">
                <h4>Bai {{lesson?.num}} : {{lesson?.name}}</h4>
                <p>
                    {{lesson?.content}}
                </p>
                <button mat-raised-button color="primary" *ngIf="user && user.learned" [disabled]="!user?.learned?.lesson?.includes(lesson?._id)" routerLink="/pages/course/{{course?._id}}/lesson/{{lesson?._id}}">Bắt đầu</button>
            </div>
        </div>
    </div>
</div>