<div class="course__info">
    <div class="info__header">
        <h1>{{course?.name}}</h1>
        <p>
            {{course?.content}}
        </p>
        <p>Video hướng dẫn làm bài tập JS : <a href="">Tại đây</a></p>
        <p>Đăng ký vào slack : <a href="">Tại đây</a></p>
        <p>Like <a href="">CodersX Page</a> để câp nhật thông tin</p>
        <div class="author">
            <img src="https://res.cloudinary.com/djeghcumw/image/upload/v1588419958/la240lamtsudngbddril.jpg" alt=""
                width="40px" height="40px" />
            <p>Thinh Pham</p>
        </div>
        <!-- <div class="d-flex justify-content-end">
            <form class="example-form">
                <mat-form-field class="example-full-width">
                  <input type="text"
                         placeholder="Tìm kiếm bài học"
                         matInput
                         [formControl]="searchControl"
                         [matAutocomplete]="auto">
                  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option?.name">
                      {{option?.name}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </form>
        </div> -->
    </div>
    <div class="course">
        <h4>Bài học</h4>
        <div class="course__list" *ngFor="let lesson of lessonList">
            <div class="course__content">
                <h4>Bài {{lesson?.num}} : {{lesson?.name}}</h4>
                <p>
                    {{lesson?.content}}
                </p>
                <div *ngIf="user && user.learned">
                    <button style="width : 140px" mat-raised-button color="primary"
                        *ngIf="!user?.learned[course?.num -1]?.lesson?.includes(lesson?._id) && lesson?.num === 0"
                        routerLink="/pages/course/{{course?._id}}/lesson/{{lesson?._id}}">
                        <span>Bắt đầu</span>
                    </button>
                    <button style="width : 140px" mat-raised-button color="primary"
                        *ngIf="lesson?._id === isTrueNextLessonId"
                        routerLink="/pages/course/{{course?._id}}/lesson/{{lesson?._id}}">
                        <span>Bắt đầu</span>
                    </button>
                    <button style="width : 140px" mat-stroked-button color="primary"
                        *ngIf="user?.learned[course?.num -1]?.lesson?.includes(lesson?._id)"
                        routerLink="/pages/course/{{course?._id}}/lesson/{{lesson?._id}}">
                        <span>Xem lại</span>
                    </button>
                    <button style="width : 140px" mat-raised-button color="primary"
                        *ngIf="!user?.learned[course?.num -1]?.lesson?.includes(lesson?._id) && lesson?.num !== 0 && lesson?._id !== isTrueNextLessonId"
                        [disabled]="!user?.learned[course?.num -1]?.lesson?.includes(lesson?._id) && lesson?._id !== isTrueNextLessonId"
                        routerLink="/pages/course/{{course?._id}}/lesson/{{lesson?._id}}">
                        <span>Chưa mở</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>