<div class="course__info">
    <div class="info__header">
        <h1>JavaScript từ A-Z 2018</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
            recusandae accusantium ullam doloremque suscipit cupiditate harum
            nulla libero dicta dolor! Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Porro facilis aliquam excepturi veniam mollitia
            quisquam autem non voluptatum in aut, tempora sunt cum, quo voluptas
            quod ducimus eaque quibusdam cumque.
        </p>
        <p>Video hướng dẫn làm bài tập JS : <a href="">Tại đây</a></p>
        <p>Đăng ký vào slack : <a href="">Tại đây</a></p>
        <p>Like <a href="">CodersX Page</a> để câp nhật thông tin</p>
        <div class="author">
            <img src="https://res.cloudinary.com/djeghcumw/image/upload/v1588419958/la240lamtsudngbddril.jpg" alt=""
                width="40px" height="40px" />
            <p>Thinh Pham</p>
        </div>
    </div>
    <div class="course">
        <h4>Bai hoc</h4>
        <div class="course__list">
            <div class="course__content">
                <h4>Bai 0 : Chuan bi do nghe</h4>
                <p>
                    Huong dan chuan bi cong cu Lorem ipsum dolor sit, amet consectetur
                    adipisicing elit. Dolorum, eaque.
                </p>
                <button class="course__btn">Bắt đầu</button>
            </div>
            <div class="course__content">
                <h4>Bai 0 : Chuan bi do nghe</h4>
                <p>
                    Huong dan chuan bi cong cu Lorem ipsum dolor sit, amet consectetur
                    adipisicing elit. Dolorum, eaque.
                </p>
                <button class="course__btn">Bắt đầu</button>
            </div>
            <div class="course__content">
                <h4>Bai 0 : Chuan bi do nghe</h4>
                <p>
                    Huong dan chuan bi cong cu Lorem ipsum dolor sit, amet consectetur
                    adipisicing elit. Dolorum, eaque.
                </p>
                <button class="course__btn">Bắt đầu</button>
            </div>
            <div class="course__content">
                <h4>Bai 0 : Chuan bi do nghe</h4>
                <p>
                    Huong dan chuan bi cong cu Lorem ipsum dolor sit, amet consectetur
                    adipisicing elit. Dolorum, eaque.
                </p>
                <button class="course__btn">Bắt đầu</button>
            </div>
            <div class="course__content">
                <h4>Bai 0 : Chuan bi do nghe</h4>
                <p>
                    Huong dan chuan bi cong cu Lorem ipsum dolor sit, amet consectetur
                    adipisicing elit. Dolorum, eaque.
                </p>
                <button class="course__btn">Bắt đầu</button>
            </div>
            <div class="course__content">
                <h4>Bai 0 : Chuan bi do nghe</h4>
                <p>
                    Huong dan chuan bi cong cu Lorem ipsum dolor sit, amet consectetur
                    adipisicing elit. Dolorum, eaque.
                </p>
                <button class="course__btn">Bắt đầu</button>
            </div>
        </div>
    </div>
</div>