<!-- <div class="route">
    <h3 class="route__title">
        Lộ trình học
    </h3>
    <div class="route__info">
        <div>
            <h4>Khóa học full stack codersx 2020</h4>
            <button class="route__btn">Thi đầu vào</button>
        </div>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi nulla
            quia enim facere totam delectus provident laudantium rerum esse nihil.
        </p>
    </div>
</div> -->
<div class="course__list">
    <h3 class="list__title">Khóa học tự do</h3>
    <div class="list__des">
        <div class="des__header">
            <h6>Web, JavaScript</h6>
            <button class="route__btn" routerLink="pages/course/detail">Tiếp tục</button>
        </div>
        <div class="des__body">
            <h1>JavaScript từ A-Z 2018</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
                recusandae accusantium ullam doloremque suscipit cupiditate harum
                nulla libero dicta dolor! Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Porro facilis aliquam excepturi veniam mollitia
                quisquam autem non voluptatum in aut, tempora sunt cum, quo voluptas
                quod ducimus eaque quibusdam cumque.
            </p>
            <p>Video hướng dẫn làm bài tập JS : <a href="">Tại đây</a></p>
            <p>Đăng ký vào slack : <a href="">Tại đây</a></p>
            <p>Like <a href="">CodersX Page</a> để câp nhật thông tin</p>
            <div class="author">
                <img src="https://res.cloudinary.com/djeghcumw/image/upload/v1588419958/la240lamtsudngbddril.jpg" alt=""
                    width="40px" height="40px" />
                <p>Thinh Pham</p>
            </div>
        </div>
    </div>
    <div class="list__des">
        <div class="des__header">
            <h6>Web, HTML</h6>
            <button class="route__btn">Tiếp tục</button>
        </div>
        <div class="des__body">
            <h1>HTML for dummies</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
                recusandae accusantium ullam doloremque suscipit cupiditate harum
                nulla libero dicta dolor! Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Porro facilis aliquam excepturi veniam mollitia
                quisquam autem non voluptatum in aut, tempora sunt cum, quo voluptas
                quod ducimus eaque quibusdam cumque.
            </p>
            <p>Video hướng dẫn làm bài tập JS : <a href="">Tại đây</a></p>
            <p>Đăng ký vào slack : <a href="">Tại đây</a></p>
            <p>Like <a href="">CodersX Page</a> để câp nhật thông tin</p>
            <div class="author">
                <img src="https://res.cloudinary.com/djeghcumw/image/upload/v1588419958/la240lamtsudngbddril.jpg" alt=""
                    width="40px" height="40px" />
                <p>Thinh Pham</p>
            </div>
        </div>
    </div>
    <div class="list__des">
        <div class="des__header">
            <h6>Web</h6>
            <button class="route__btn">Tiếp tục</button>
        </div>
        <div class="des__body">
            <h1>Git , form zero to hero</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
                recusandae accusantium ullam doloremque suscipit cupiditate harum
                nulla libero dicta dolor! Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Porro facilis aliquam excepturi veniam mollitia
                quisquam autem non voluptatum in aut, tempora sunt cum, quo voluptas
                quod ducimus eaque quibusdam cumque.
            </p>
            <p>Video hướng dẫn làm bài tập JS : <a href="">Tại đây</a></p>
            <p>Đăng ký vào slack : <a href="">Tại đây</a></p>
            <p>Like <a href="">CodersX Page</a> để câp nhật thông tin</p>
            <div class="author">
                <img src="https://res.cloudinary.com/djeghcumw/image/upload/v1588419958/la240lamtsudngbddril.jpg" alt=""
                    width="40px" height="40px" />
                <p>Thinh Pham</p>
            </div>
        </div>
    </div>
</div>