<div class="course__list" *ngIf="user">
    <app-loading *ngIf="loading"></app-loading>
    <h3 class="list__title">Khóa học tự do</h3>
    <div class="list__des" *ngFor="let course of courseList">
        <div class="des__header" *ngIf="currentLearnedCourse">
            <h4>{{course?.tag}}</h4>

            <button style="width : 140px" mat-raised-button color="primary"
                *ngIf="!getCourseInLearned(course?._id) && course?.num === 1 && currentLearnedCourse?.lesson?.length === 0"
                (click)="joinCourse(course?._id)">Tham gia</button>

            <button style="width : 140px" mat-raised-button color="primary"
                *ngIf="getCourseInLearned(course?._id) && course?.num === 1 && getCourseInLearned(courseList[0]?._id)?.lesson?.length === 0"
                (click)="joinCourse(course?._id)">Tham gia</button>

                <button style="width : 140px" mat-raised-button color="primary"
                *ngIf="getCourseInLearned(course?._id) && currentLearnedCourse?.lesson?.length === 0 && getCourseInLearned(course?._id)?.lesson?.length === 0"
                (click)="joinCourse(course?._id)">Tham gia</button>

             <!-- <button style="width : 140px" mat-raised-button color="primary"
                *ngIf="!getCourseInLearned(course?._id) && course?._id === isTrueNextCourseId && currentLearnedCourse?.lesson?.length !== 0 && currentLearnedCourse?.lesson?.length < getCourse(currentCourseId)?.lessonCount"
                (click)="joinCourse(course?._id)">
                Tham gia</button>  -->

                <button style="width : 140px" mat-raised-button color="primary"
                *ngIf="!getCourseInLearned(course?._id) && course?._id === isTrueNextCourseId && currentLearnedCourse?.lesson?.length !== 0 && currentLearnedCourse?.lesson?.length === getCourse(currentCourseId)?.lessonCount"
                (click)="joinCourse(course?._id)">
                Tham gia</button>


            <button style="width : 140px" mat-raised-button color="primary" routerLink="/pages/course/{{course?._id}}"
                *ngIf="getCourseInLearned(course?._id) && getCourseInLearned(course?._id).lesson.length !== 0 && getCourseInLearned(course?._id).lesson.length < course.lessonCount">Tiếp
                tục</button>

            

            <button style="width : 140px" mat-raised-button color="primary"
                *ngIf="!getCourseInLearned(course?._id) && course?._id === isTrueNextCourseId && currentLearnedCourse?.lesson?.length < getCourse(currentCourseId)?.lessonCount"
                [disabled]="!getCourseInLearned(course?._id) && course?._id === isTrueNextCourseId">Chưa
                mở</button>


            <button style="width : 140px" mat-raised-button color="primary" routerLink="/pages/course/{{course?._id}}"
                *ngIf="getCourseInLearned(course?._id) && course?._id !== isTrueNextCourseId && getCourseInLearned(course?._id).lesson.length === course.lessonCount">Xem
                lại</button>




            <!--   <button style="width : 140px" mat-raised-button color="primary" routerLink="/pages/course/{{course?._id}}"
                *ngIf="currentLearnedCourse?._id == course?._id && currentLearnedCourse?.lesson?.length === course?.lessonCount">Xem
                lại</button>
 -->
            <button style="width : 140px" mat-raised-button color="primary"
                *ngIf="!getCourseInLearned(course?._id) && !getCourseInLearned(course?._id) && course?._id !== isTrueNextCourseId"
                [disabled]="!getCourseInLearned(course?._id) && !getCourseInLearned(course?._id) && course?._id !== isTrueNextCourseId">Chưa
                mở</button>

        </div>
        <div class="des__body">
            <h1>{{course?.name}}</h1>
            <p>
                {{course?.content}}
            </p>
            <p>Tổng số bài học : {{course?.lessonCount}}</p>
            <div *ngIf="course.tag.includes('JAVASCRIPT')">
                <p>Video hướng dẫn làm bài tập JS : <a href="">Tại đây</a></p>
                <p>Đăng ký vào slack : <a href="">Tại đây</a></p>
                <p>Like <a href="">CodersX Page</a> để câp nhật thông tin</p>
            </div>
            <div class="author">
                <img src="
                https://scontent.fhan2-4.fna.fbcdn.net/v/t1.0-9/73108475_2425234207701456_7172198885824135168_o.jpg?_nc_cat=110&_nc_sid=85a577&_nc_ohc=E69bKkrW-_oAX95R7PG&_nc_ht=scontent.fhan2-4.fna&oh=acbffdf6543c5bf11084321d78eb5a4c&oe=5F168741
                " alt="" width="40px" height="40px" />
                <p>Tuan Anh Nguyen</p>
            </div>
        </div>
    </div>
</div>