<mat-card-title class="d-flex align-items-center">
    <mat-icon class="xl">info</mat-icon>
    <!-- Error Title -->
    {{ data?.title || 'confirm' | uppercase}}
  </mat-card-title>
  <div mat-dialog-content>
    <!-- Error Detail -->
    <p class="text-center fs-20"><mat-card-subtitle>{{data?.message || 'Are you sure to perform this action?' }}</mat-card-subtitle></p>
  </div>
  <div class="d-flex justify-content-center m-t-20">
    <button mat-raised-button color="primary" [mat-dialog-close] = true cdkFocusInitial class="mr-3">
      <!-- Accept Button -->
      {{ data?.acceptBtn || 'Gửi'}}
    </button>
    <button class="m-l-10" mat-raised-button [mat-dialog-close] = false>
      <!-- Error Button -->
      {{ data?.closeBtn || 'huỷ'  }}
    </button>
  </div>
  