<form [formGroup]="form">
<div class="profile">
  <div class="profile-info">
    <h3>Thông tin cá nhân</h3>
    <div class="avatar">
      <img [src]="user?.imageUrl" alt="" width="100px">
    </div>
    <div class="form">
      <div class="info">
        <div class="input-group">
          <mat-form-field>
            <mat-label>Họ và tên</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>
        </div>
        <div class="input-group">
          <mat-form-field>
            <mat-label>Tên tài khoản</mat-label>
            <input matInput formControlName="userName">
          </mat-form-field>
        </div>
        <div class="input-group">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
          </mat-form-field>
        </div>
        <div class="input-group">
          <mat-form-field>
            <mat-label>Số điện thoại</mat-label>
            <input matInput formControlName="phone">
          </mat-form-field>
        </div>
        <!-- <div class="input-group">
          <mat-form-field>
            <mat-label>Ngày sinh</mat-label>
            <input matInput>
          </mat-form-field>
        </div> -->
        <button mat-raised-button color="primary" style="width : 100px" type="button" (click)="updateInfo()">Lưu
        <i class="fa fa-spinner fa-spin ml-2" *ngIf="updating"></i>
        </button>
      </div>
      <div class="change-pwd">
        <h5>Đổi mật khẩu</h5>
        <div class="input-group">
          <mat-form-field>
            <mat-label>Mật khẩu</mat-label>
            <input matInput formControlName="pwd" [type]="hide ? 'password' : 'text'">
            <button matSuffix style="background : none !important; border:none !important" (click)="hide = !hide"><i [ngClass]="hide ? 'fa fa-eye' : 'fa fa-eye-slash'" style="cursor: pointer;z-index:9999"></i></button>
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary" (click)="updatePwd();" style="width: 100px;" type="button">Đổi
          <i class="fa fa-spinner fa-spin ml-2" *ngIf="updatingPwd"></i></button>
      </div>
    </div>
  </div>
</div>
</form>