* {
  font-weight: 100;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.profile-info {
  box-shadow: 5px 5px 10px #d9d9d9;
  padding: 20px;
  width: 100%;
  margin-top: 30px;
  h3 {
    text-align: center;
  }
}

.avatar {
  display: flex;
  justify-content: center;
}

img {
  border-radius: 100%;
}
.form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.info {
  width: 48%;
  padding: 10px 20px;
}

.input-group {
  border: thin solid #f4f4f4;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.input-group input {
  border: none;
  /* border-bottom: 1px solid #f4f4f4; */
}

.add-info {
  box-shadow: 5px 5px 10px #d9d9d9;
  padding: 20px;
  margin: 30px 0;
}

.change-pwd {
  width: 48%;
  padding: 10px 20px;
}
.btn {
  margin-right: 20px;
}
