<div class="lesson">
  <div class="lesson-content">
    <div class="lesson-info">
      <h4>JavaScript từ A-Z 2018</h4>
      <h1>Bài 0 : Chuẩn bị đồ nghề</h1>
      <h3>Hướng dẫn chuẩn bị các công cụ phục vụ cho khoá học</h3>
    </div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Oo9MAd40lbI" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="practice">
    <h4>Bài tập</h4>
    <button class="btn btn-primary" (click)="showTestCase()"> Làm bài tập</button>
  </div>
</div>
<div class="practice-page" *ngIf="isShow">
  <div class="code-area">
    <div class="code-header">
      <ul>
        <li> <a style="cursor: pointer;" (click)="goBack()"><i class="fas fa-arrow-left"></i> Quay lại</a></li>
        <li>Bài 1</li>
        <li> Học lập trình miễn phí với coderX</li>
      </ul>
    </div>
    <div>Code tai day
      <!-- phan code o day nhe -->
      <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="code"></ngx-monaco-editor>
    </div>
  </div>
  <div class="test-case">
    <h1>Test case</h1>
    <div class="test">
      <div class="test-result">
        <h4>Test</h4>
      </div>
      <div class="test-result">
        <h4>Test</h4>
      </div>
      <div class="test-result">
        <h4>Test</h4>
      </div>
      <div class="test-result">
        <h4>Test</h4>
      </div>
      <div class="test-result">
        <h4>Test</h4>
      </div>
    </div>
    <div class="test-footer">
      <button class="btn btn-primary"><i class="fas fa-broom"></i></button>
      <div>
        <button class="btn btn-success">Lưu</button>
        <button class="btn btn-primary mx-1">Chạy thử</button>
      </div>

    </div>
  </div>
</div>