<mat-card class="mt-5 exc_create">
    <mat-card-title>Tạo bài tập cho bài học : {{lesson?.name}}</mat-card-title>
    <mat-card-content class="mat_card_content">
        <form [formGroup]="form">
            <div formArrayName="exArray" *ngIf="exArray?.length">
                <div *ngFor="let ex of exArray.controls; index as index">
                    <div class="form_group" [formGroupName]="index">
                        <mat-form-field class="question_header">
                            <mat-label>Câu hỏi</mat-label>
                            <textarea matInput formControlName="question"> </textarea>
                        </mat-form-field>
                        <div class="form_question" formGroupName="answer1" fxLayout="row wrap">
                            <mat-form-field>
                                <mat-label>Câu trả lời 1</mat-label>
                                <textarea matInput formControlName="answer"> </textarea>
                            </mat-form-field>
                           
                            <mat-radio-group name="1" class="example-section" aria-label="Select an option">
                                <mat-radio-button (click)="updateIsCorrect(1)" name="1" class="example-margin" value="1">Đáp án đúng</mat-radio-button>
                              </mat-radio-group>
                        </div>
                        <div class="form_question" formGroupName="answer2">
                            <mat-form-field>
                                <mat-label>Câu trả lời 2</mat-label>
                                <textarea matInput formControlName="answer"> </textarea>
                            </mat-form-field>
                            <mat-radio-group name="1" class="example-section" aria-label="Select an option">
                                <mat-radio-button (click)="updateIsCorrect(2)" name="1" class="example-margin" value="1">Đáp án đúng</mat-radio-button>
                              </mat-radio-group>
                        </div>
                        <div class="form_question" formGroupName="answer3">
                            <mat-form-field>
                                <mat-label>Câu trả lời 3</mat-label>
                                <textarea matInput formControlName="answer"> </textarea>
                            </mat-form-field>
                            <mat-radio-group name="1" class="example-section" aria-label="Select an option">
                                <mat-radio-button (click)="updateIsCorrect(3)" name="1" class="example-margin" value="1">Đáp án đúng</mat-radio-button>
                              </mat-radio-group>
                        </div>
                        <div class="form_question" formGroupName="answer4">
                            <mat-form-field>
                                <mat-label>Câu trả lời 4</mat-label>
                                <textarea matInput formControlName="answer"> </textarea>

                            </mat-form-field>
                            <mat-radio-group name="1" class="example-section" aria-label="Select an option">
                                <mat-radio-button (click)="updateIsCorrect(4)" name="1" class="example-margin" value="1">Đáp án đúng</mat-radio-button>
                              </mat-radio-group>
                        </div>
                        <div>
                            <mat-form-field class="question_answer">
                                <mat-label>Lời giải</mat-label>
                                <textarea matInput formControlName="note"> </textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="confirm_btn" fxLayout="row wrap" fxLayoutAlign="end end">
                <button mat-raised-button color="primary" (click)="submit()">Tạo</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>