<div class="background">
  <div class="login">
    <div class="login-logo">
      <img src="../../../../assets/images/login-logo.png" alt="" width="150px">
    </div>
    <div class="login-form">
      <div class="login-title">
        <h1>Welcome!</h1>
      </div>
      <input type="text" placeholder="Username" style="outline: none;" [(ngModel)]="userName">
      <input type="password" placeholder="Password" style="outline: none;" [(ngModel)]="pwd">
      <div class="login-button ">
        <button class="btn btn-primary" (click)="login();">Đăng nhập</button>
        <p>Quên mật khẩu ?</p>
      </div>
      <div class="register">
        <a routerLink="/login/register">Đăng ký</a>
        <p> nếu chưa có tài khoản</p>
      </div>
    </div>
  </div>
</div>