<div class="profile">
  <div class="profile-info">
    <h3>Thông tin cá nhân</h3>
    <div class="avatar">
      <img src="https://lh3.googleusercontent.com/a-/AAuE7mBi0PdaRt7dtsUqKXX8aJBmtXwKRveWdjUA-PAl" alt="" width="100px">
    </div>
  </div>
  <div class="profile-schools">
    <div class="add-info">
      <h4>Các trường đã học</h4>
      <button class="btn btn-primary" type="button">Thêm</button>
    </div>
    <div class="add-info">
      <h4>Các project đã làm</h4>
      <button class="btn btn-primary" type="button">Thêm</button>
    </div>
    <div class="add-info">
      <h4>Skills</h4>
      <button class="btn btn-primary" type="button">Thêm</button>
    </div>
  </div>
</div>