<mat-card class="mt-5">
    <mat-card-title>Quản lý khoá học</mat-card-title>
    <mat-card-content>
        <div class="d-flex mt-5">
            <button class="mr-2" mat-raised-button (click)="loadData()">
                <mat-icon>refresh</mat-icon>
                <span>Làm mới</span>
            </button>
            <button mat-raised-button routerLink="/admin/course/create">
                <mat-icon>add</mat-icon>
                <span>Tạo mới</span>
            </button>
        </div>
        <div class="table-responsive mt-5">
            <app-loading *ngIf="loading" class="blur"></app-loading>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="_no">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element; let $index = index"> {{$index+1}} </td>
                </ng-container>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>Thao tác</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button [matMenuTriggerFor]="multiple_choice">
                            <i class="fa fa-cog" aria-hidden="true">
                            </i>
                        </button>
                        <mat-menu #multiple_choice="matMenu" class="pagination-popover-menu">
                            <ng-container>
                                <button mat-menu-item routerLink="/admin/course/{{element?._id}}/lesson-create"><i
                                        class="fa fa-plus"></i> Thêm bài học</button>
                                <button mat-menu-item routerLink="/admin/course/{{element?._id}}/lesson"><i
                                        class="fa fa-info-circle"></i> Danh sách bài học</button>
                                <button mat-menu-item (click)="delete(element)"><i class="fa fa-trash"></i> Xoá khoá
                                    học</button>
                                <button mat-menu-item routerLink="/admin/course/{{element?._id}}"><i class="fa fa-pencil"></i> Thông tin khoá học</button>
                            </ng-container>
                        </mat-menu>
                    </td>
                </ng-container>
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> Id </th>
                    <td mat-cell *matCellDef="let element"> {{element._id}} </td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Tên khoá học</th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
                <ng-container matColumnDef="lessonNum">
                    <th mat-header-cell *matHeaderCellDef> Số lượng bài học </th>
                    <td mat-cell *matCellDef="let element"> {{element.lessonCount}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </mat-card-content>
</mat-card>